
body {
    padding: 0;
    margin: 0;
    background: #fff;
}

.navbar {
    background:#000;
    opacity: 1;
    z-index: 2;
}

.navbar-link {
  color: white;
}

.header {
    background-image: url('yarnballfeature3.jpg');
    background-size: auto;
    background-position: center;
    position: relative;
    z-index: 0;
    align-self: center;
}

.description {
    left: 50%;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -65%);
    text-align: center;
    z-index: 1;
}

.description h1 {
    color: #000;
}

.description p {
    color: #000;
    font-size: 1.3rem;
    line-height: 1.5;
}

.tab h3 {
  margin-left: 40px;
}

.description button {
    border:3px solid #000;
    background:#000;
    border-radius: 0;
    color:#fff;

}

.description button:hover {
    border:1px solid #000;
    background:#fff;
    color:#000;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: auto;
    text-transform: uppercase;

}

.page-footer {
    background-color: #000;
    color: #fff;
    padding: 40px 40px 40px;
    position: absolute;
    left: 0;
    width: 100%
}

.footer-copyright {
    color: #ababab;
    padding: 10px 10px;
}

.element {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 270px;
  width: 100%;
  display: table;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .element {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .element {
    height: 270px;
    color: black;
  }
  .element:hover {
    color: black;
  }
}

.element:hover {
  color: black;
}

.element .descriptions {
  display: table-cell;
  vertical-align: middle;
  height: 350px;
  background: #fff;
  opacity: 0;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  color: black;
  text-decoration-color: black;
}


@media screen and (max-width: 768px) {
  .element .descriptions {
    opacity: 1;
    background: transparent !important;
    color: white;
  }
    .element:hover {
      color: white;
  }
  .element .descriptions span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #fff;
  }
}

.element:hover .descriptions {
  opacity: 1;
}

@media (max-width: 575.98px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1em;
    }

    .features {
        margin: 0;
    }

    h5 {
      justify-content: flex-end;
      font-size: 2rem;
    }

}
